/* resetting margins and paddings to ensure consistency accross browsers */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

/* removing the default border stylings on buttons */
button {
  border: none;
}

body {
  /* hiding the scrollbar for IE, Edge and Firefox browsers, but maintaining scroll functionality */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  font-family: "Red Hat Display", sans-serif;
}

/* hiding the scrollbar for Chrome, Safari and Opera browsers, but maintaining scroll functionality */
body::-webkit-scrollbar {
  display: none;
}

/* defining root variables */
:root {
  /* defining font weights as variables */
  --small-font: 500;
  --large-font: 900;

  /* defining colors as variables */
  --grey: #87879d;
  --dark-blue: #28283d;
  --just-white: #fafafa;
  --light-blue: #8fe3f9;
  --clear-pink: #d9b8ff;
  --greyish: rgba(135, 135, 157, 0.25);

  /* button colors */
  --purple: #855fb1;
  --slate-green: #4d96a9;

  /* hover buttons */
  --light-green: #71c0d4;
  --almost-pink: #b18bdd;
}

.brand-logobox {
  text-align: center;
}

.logo {
  width: 7.5rem;
  height: 1.8rem;
  margin-top: 3rem;
}

.hero-contentbox-mobile {
  margin-top: 3.4rem;
}

.mobile-hero-imagebox {
  height: 10rem;
  background-image: url("assets/tablet/image-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-textbox {
  margin-top: 3rem;
  padding: 0 1.5rem;
}

.hero-text-heading {
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  color: var(--dark-blue);
  font-weight: var(--large-font);
}

.hero-smalltext {
  font-size: 1rem;
  color: var(--grey);
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.625rem;
  font-weight: var(--small-font);
}

.hero-cta-buttons {
  gap: 1rem;
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  flex-direction: column;
}

button {
  height: 3.7rem;
  width: 12.1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1.8rem;
  line-height: 1.625rem;
  color: var(--just-white);
  font-weight: var(--large-font);
}

.download-button {
  background-color: var(--slate-green);
}

.download-button:hover {
  background-color: var(--light-green);
}

.version-number {
  color: var(--light-blue);
}

.info-button {
  width: 8.7rem;
  background-color: var(--purple);
}

.info-button:hover {
  background-color: var(--almost-pink);
}

.hero-contentbox-desktop {
  display: none;
}

.buffer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vertical-line {
  opacity: 0.4;
  height: 5.25rem;
  width: 0.0625rem;
  background-color: var(--greyish);
}

.circle {
  opacity: 0.4;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 50%;
  color: var(--grey);
  margin-bottom: 4rem;
  align-items: center;
  line-height: 1.625rem;
  justify-content: center;
  font-weight: var(--large-font);
  border: 1px solid var(--greyish);
  background-color: var(--just-white);
}

#features {
  padding: 0 1.5rem;
}

.features-grid-container {
  gap: 1rem;
  width: 100%;
  display: grid;
  margin-bottom: 4.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(8.9375rem, auto));
}

.first {
  background: url(assets/desktop/image-woman-in-videocall.jpg);
}

.second {
  background: url(assets/desktop/image-women-videochatting.jpg);
}

.third {
  background: url(assets/desktop/image-men-in-meeting.jpg);
}

.fourth {
  background: url(assets/desktop/image-man-texting.jpg);
}

.feature {
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-colored-text {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  color: var(--slate-green);
  text-transform: uppercase;
  font-weight: var(--large-font);
}

.features-main-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 2.25rem;
  color: var(--dark-blue);
  font-weight: var(--large-font);
}

.features-copy-text {
  font-size: 1rem;
  color: var(--grey);
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.625rem;
  font-weight: var(--small-font);
}

.footer-buffer-circle {
  opacity: 1;
  margin-bottom: -1.75rem;
}

#footer {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: var(--slate-green);
  padding: 5.75rem 1.5rem 4.5rem 1.5rem;
  background-image: url("assets/mobile/image-footer.jpg");
}

.footer-big-text {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  color: var(--just-white);
  font-weight: var(--large-font);
}

.footer-small-text {
  font-size: 1.125rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
  color: var(--just-white);
  font-weight: var(--small-font);
}

.purple {
  background: var(--purple);
}

/*  */
#version-number {
  color: var(--clear-pink);
}

@media screen and (min-width: 45rem) {
  .hero-contentbox-mobile {
    margin-top: 3rem;
  }

  .mobile-hero-imagebox {
    height: 21rem;
  }

  .mobile-textbox {
    margin-top: 4.5rem;
    padding: 0 9.69rem;
  }

  .hero-text-heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-cta-buttons {
    margin-bottom: 5rem;
    flex-direction: row;
    justify-content: center;
  }

  .circle {
    margin-bottom: 4.2rem;
  }

  #features {
    padding: 0 2.22rem;
  }

  .features-grid-container {
    gap: 0.69rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(9.75rem, auto);
  }

  .features-copy-heading {
    padding: 0 7.84rem;
  }

  .features-colored-text {
    margin-bottom: 1rem;
  }

  .features-main-text {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .features-copy-container {
    padding: 0 3.9rem;
  }

  .features-copy-text {
    margin-bottom: 5rem;
  }

  .footer-buffer-circle {
    margin-bottom: -1.75rem;
  }

  #footer {
    padding: 5.75rem 6.12rem 4.13rem 6.12rem;
    background-image: url("assets/tablet/image-footer.jpg");
  }

  #footer-bigtext-container {
    padding: 0 3.62rem;
  }

  .footer-big-text {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 2.75rem;
  }

  .footer-small-text {
    line-height: 1.625rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 65rem) {
  .logo {
    margin-top: 5rem;
  }

  .hero-contentbox-mobile {
    display: none;
  }

  .hero-contentbox-desktop {
    width: 100%;
    display: flex;
    margin-top: 3.81rem;
    justify-content: space-between;
  }

  .hero-contentbox-desktop .hero-textbox {
    margin-top: 2.94rem;
  }

  .hero-text-heading {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2.12rem;
  }

  .hero-smalltext {
    font-size: 1.125rem;
  }

  .hero-contentbox-desktop .right-hero-img {
    margin-top: 3.44rem;
  }

  .hero-cta-buttons {
    margin-bottom: 7.31rem;
  }

  #features {
    padding: 0 9.88rem;
  }

  .features-grid-container {
    gap: 1.9rem;
    margin-bottom: 5rem;
    grid-template-rows: minmax(15.125rem, auto);
  }

  .features-copy-heading,
  .features-copy-container {
    padding: 0 18.24rem;
  }

  .features-copy-text {
    font-size: 1.125rem;
    margin-bottom: 4.5rem;
  }

  #footer {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 7.25rem 9.88rem 6.5rem 9.88rem;
    background-image: url("assets/desktop/image-footer.jpg");
  }

  #footer-bigtext-container {
    padding: 0;
    width: 24.3055%;
  }

  #footer-smalltext-container {
    width: 24.3055%;
  }

  .footer-big-text {
    margin-bottom: 0;
  }

  .footer-small-text {
    margin-bottom: 0;
  }
}
